.card-header {
    text-align: center;
    font-size: 40px;
    /* border: 5solid; */
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.input{
    font-family: 'Oswald', sans-serif;
}
img {
background-color: lightsteelblue;
}

.search .save {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.city{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

#current-city {
    font-family: 'PT Serif', serif;
}

.days {
    font-family: 'Oswald', sans-serif;
}

#forecast {

    font-family: 'PT Serif', serif;
}
