.card-header {
    text-align: center;
    font-size: 40px;
    /* border: 5solid; */
    background-color: black;
}

.search {

}

.save {


}

#current-city {


}
.card1 .card2 .card3 .card4 .card5 {

    
}
